// colors.scss

$severityGreen: rgb(103, 180, 46);
$severityYellow: rgb(221, 187, 76);
$severityRed: rgb(178, 35, 35);
$textGrey: rgb(152, 152, 152);
$lightBlue: rgb(119, 171, 198 );
$commentBorderBlack: rgb(77, 76, 76);
$backgroundComment: rgba(252, 252, 252);
